page-yuxi-list {
    ion-content {
		position: absolute;
		background-image: url(../assets/imgs/yuxi.jpeg);
		background-size: 20%;
		background-repeat: no-repeat;
        background-position: center bottom;
    }
}
