page-yuxi-photo {
    .both-buttons{
        display:flex;
        justify-content: center;
        margin-top:20px;

        ion-icon{
            margin-right: 10px;
        }

        .main-button{
            @include generic-button(80%); 
        }

        .imageTaken{
            width: 75%;
            height: 75%;

        }

    }
}
