<ion-header>
  <ion-navbar>
    <ion-buttons right>
      <button ion-button (click)="logout()">Logout</button>
    </ion-buttons>
    <ion-title>
      {{messages.title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="both-buttons">
    <button ion-button item-left class="main-button" (click)="takePic()" *ngIf="imageTaken">
      <ion-icon name="camera"></ion-icon>
      {{messages.cameraButton}}
    </button>
  </div>
  <div class="imageTaken">
    <ion-item *ngIf="imageTaken">
      <img [src]="imageTaken" >
    </ion-item>
    <ion-item *ngIf="!imageTaken" (click)="takePic()">
      <img src="assets/imgs/takePhoto.jpeg" >
    </ion-item>
  </div>
  
</ion-content>
