page-detail {
    ion-content {
		background: linear-gradient(to bottom left, #51aca5,#323e70);
        
        ion-card {
            position: relative;
            text-align: center;
        }
        h2{
            text-align: center;
            color:white;
            padding:10px 0;
        }
        .card-md{
            width:70%;
            margin:10px auto;
            border-radius:5px;
            -webkit-box-shadow: 0px 10px 26px -5px rgba(0,0,0,0.4);
			-moz-box-shadow: 0px 10px 26px -5px rgba(0,0,0,0.4);
			box-shadow: 0px 10px 26px -5px rgba(0,0,0,0.4);
        }

        .card-header-md{
            font-size:2rem;
            font-weight: 800;
        }
        
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }

        .card-content-md{
            background:white;
            margin:0 20px;
            padding-bottom: 50px;
            border-radius: 5px;
        }
        
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
            font-size:1.7em;
        }

        .body{
            background: white;
            margin: 0 30px;
            border-radius: 5px;
            padding: 80px 30px 30px 30px;
            margin-top: -60px;
            -webkit-box-shadow: 0px 10px 26px -5px rgba(0,0,0,0.4);
			-moz-box-shadow: 0px 10px 26px -5px rgba(0,0,0,0.4);
			box-shadow: 0px 10px 26px -5px rgba(0,0,0,0.4);
        }
    }
}
